@charset "utf-8";
/* 스타일 초기화 */
*, *::before, *::after{
    margin: 0;
    padding: 0;
}

.header, .visual, .main, .slogan ,.footer{
    background: yellow;
    width: 940px;
    margin: 0 auto;
}
.bg-footer{
    background : purple;
}
/* header logo */
.header{
    background-color: pink;
}
.logo{
    background-color: blue;
    position: absolute;
    top:45px;
    left:65px;
}
/* 비주얼 */
.visual{
    height: 120px;
}
/* main */
.main{
    background:lime;
    min-height: 450px;
    display:flex;
    justify-content: space-evenly;
    
}
.group1{
    background:pink;
    width: 250px;
    order:1;
}
.group2{
    background:pink;
    width: 350px;
}
.group3{
    background:pink;
    width:190px;
}