@charset "utf-8";
/*@import url('https://fonts.googleapis.com/css?family=Song+Myung');*/
/*@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css"); /*spoqa han sans*/
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
@import url("fontello.css");
/* 스타일 초기화 */
*, *::before, *::after{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size:10px;
}
ul{
    list-style-type:none; 
    /* reset css */
}
a{
    text-decoration: none;
    color:inherit;
}
/* 숨김 콘텐츠 */
.readable-hidden{
    background: teal;
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    margin:-1px;
}
/*클래스 모듈*/
/*float 이슈를 해결하기 위한 clear기능*/
.clearfix::after{
    content:"";
    display: block;
    clear:both;
}
/* 기본스타일 */
body {
    color:#181818;
    font-size:1.4rem;
    /*font-family: 'Spoqa Han Sans', 'Sans-serif';*/
    font-family: 'Architects Daughter', cursive;
    font-weight:400;
    line-height:1.15;
    background: linear-gradient(to bottom, #ccc, #eee 50%, #fff 70%, #fff 100%);
}
/* container */
.container{
    background:url("images//bg_flower.png")no-repeat 50% 0;
}
.header, .visual, .main, .slogan ,.footer{
    /*background: yellow;*/
    width: 940px;
    margin: 0 auto;
}
.bg-footer{
    background: linear-gradient(to bottom, #ccc, #eee 50%, #fff 70%, #fff 100%);
}
/* header logo */
.header{
    position: relative;
    background-color: #fff;
    padding: 0 30px 45px;
    border-radius: 0 0 15px 15px;
}
.logo{
    position: absolute;
    top:45px;
    left:65px;
}
/* 안내링크 */
.member{
    text-align: right;
    font-size:0;
    padding: 2px 0;
    margin-right: -10px;
}
.member li, .member a{
    display: inline-block;
}
.member li{
    font-size:1.4rem;
    text-transform: uppercase;
}
.bar::before{
    content: ":";
    margin: 0 1px;
}
.member a{
    padding: 5px 10px;
}
/* main menu */
.menu{
    /* background: repeating-linear-gradient(180degm, red, red 20px, green 20px, green 40px); */
    background: #ffa830 linear-gradient(to bottom, #1e5799 0%,#ffa830 0%,#e5792b 39%,#ffa830 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    margin-top: 10px;
    padding-left:225px;
    border-top:2px solid #000;
    border-radius: 0 0 5px 5px;
}
.menu >li {
    float: left;
    position:relative;
}
.menu-item-text{
    font-size: 1.6rem;
    font-weight:700;
    color:#fff;
    padding:1em 13px;
    display:block;
    border-left:1px solid #fff;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.menu-act .menu-item-text{
    color: #ff0;
    position: relative;
}
.menu-act .menu-item-text::after{
    position: absolute;
    width:calc(100% - 36px);
    bottom:-2px;
    content:"";
    display:block;
    border-top: 2px solid #000;
}
.sub-menu{
    position:absolute;
    white-space: nowrap; /*줄 바꿈 금지 */
    top:55px;
    display:none;
}
.menu-act .sub-menu {
    display: block;
}
.sub-menu1, .sub-menu, .sub-menu3{
    left:0;
}
.sub-menu4 .sub-menu5 .sub-menu6{
    right:0;
}

.sub-menu li, .sub-menu a{
    display:inline-block;
}
.sub-menu a{
    padding:8px 0;
    margin-right:10px;
}

/* 비주얼 */
@keyframes flowerAni{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.visual{
    height: 120px;
    position: relative;
}
.visual::before, .visual::after{
    content:"";
    width:100%;
    height:100%;
    background-repeat: no-repeat;
    position: absolute;
    top:0;
    left:0;
    animation-name: flowerAni;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate; /*역방향*/
}
.visual::before{
    background-image: url("images/ani_flower_01.png"), url("images/ani_flower_02.png");
    background-position: 0 -10px, 670px, 0;
}
.visual::after{
    background-image: url("images/ani_flower_03.png"), url("images/ani_flower_04.png");
    background-position: 300px 0, 800px 0;
    animation-delay: 1s;
    animation-play-state: paused;
    animation-timing-function: ease-in-out;
}
/*
 *꽃 애니메이션 시나리오
 이름:flower Ani

*/

/*
 * 애니메이션 시나리오
 이름: textAni
 1.글자크기 변화
 12px~24px(font-size)
 2.글자색상의 투명도
 투명~불투명(color)
 color:rgba(0,0,0,0.5)000black, 0.5 불투명
 3.이동효과
 왼쪽 상단에서 오른쪽 하단
 positoion, margin , padding
*/

@keyframes textAni{
    0%{
        font-size:12px;
        color:rgba(0,0,0,0);
        transform: translate(0,0)
    }
    100%{
        font-size:24px;
        color:rgba(0,0,0,1);
        transform: translate(400px, 75px);
    }
}
.visual-text{
    font-family:Georgia, 'Times New Roman', Times, serif;
    animation-name:textAni;
    animation-duration:5s;
    animation-fill-mode:forwards;
    width:545px;
}

/* main */
.main{
    background:#fff;
    padding: 30px;
    min-height: 450px;
    display:flex;
    justify-content: space-between;
    flex-direction:row; 
    border-radius:15px 15px 0 0;
}
.group1{
    width: 250px;
}
.group2{
    width: 380px;
}
.group3{
    width:190px;
}

/*login*/
.login{
    background:#e5792b radial-gradient(circle at right top, #e5792b, #ff4e21);
    border-radius: 5px;
    padding:7px;
    box-shadow: 5px 5px 0 0 #aaa;
}
.login-heading{
    font-size: 1.4rem;
    font-weight: 700;
    color: rgb(255, 255, 0);
    padding-left:10px;
}
.login-form{
    background: rgb(255, 255, 255);
    margin-top: 10px;
    padding: 10px 10px 0 10px;
    border-radius: 5px 5px 0 0;
}
.login-form fieldset{
    border: 0;
    position: relative;
    border-bottom:1px solid #aaa;
    padding-bottom:10px
}
.user-pw{
    margin-top: 5px;
}
.login-form label{
    display: inline-block;
    width: 5em;
}
.login-form input{
    width: 95px;
    height: 24px;
    border:1px solid #aaa;
    padding: 1px 1px 1px 5px;
}
.btn-login{
    position: absolute;
    top:0;
    right: 0;
    background: #ff4e21;
    color: rgb(255, 255, 255);
    border-radius: 3px;
    border: 0;
    padding: 0;
    font-size: 1.2rem;
    cursor: pointer;
    width: 40px;
    height: 54px;
}
.sign{
    background: rgb(255,255,255);
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 1.3rem;
}
.sign .icon-right-open::before{
    color: #ed552f;
    margin: 0;

}
/*유효성 검사 배너*/
.validation{
    margin-top: 25px;

}
.validation-list a{
    display: block;
    background: url("images/validation_icon.png") no-repeat 20px 50%, linear-gradient(180deg, #bbb, #eee);
    background-color: #bbb; 
    border-radius: 30px;
    border: 1px solid #aaa;
    padding: 8px 15px 8px 45px;
    margin: 10px 0;
}
.validation-list a:hover,
.validation-list a:focus{
    color: rgb(255, 0, 0);
}